/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styling */
.navbar {
    background: linear-gradient(90deg, #e6007a, #003366);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    animation: slideDown 0.5s ease-in-out;
    height: 85px;
}

#connect{
    margin-right:80px;
    text-decoration: none;
    color:white;
}
#imgsdk{

    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-bottom: 5px;
    margin-left: 7px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #e6007a;
}

/* Animation for navbar */
@keyframes slideDown {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Content styling */
.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: 330px;
}

/* Footer styling */
.footer {
    background: linear-gradient(90deg, #e6007a, #003366);
    color: white;
    text-align: center;
    padding: 15px 0;
    animation: fadeIn 1s ease-in-out;
}

/* Animation for footer */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styling */


@media (max-width: 480px) {
.content{

    display: grid;
    grid-template-columns: auto;
    /* margin-left: 40px; */
}

#m1{
margin-left: -308px;
}

#m3{
    margin-left: -308px;
}

    .divbutton{

        margin-left: -575px;
    }
       
}
.button{
    width: 200px;
    height: 40px;
    background: linear-gradient(90deg, #e6007a, #003366);
    color: #f0f0f0;
    margin-top: 140px;
    margin-left: 640px;
    margin-bottom: 100px;
}

