/* إعدادات القاعدة */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.carousel {
    perspective: 1200px; /* زيادة البعد لإعطاء عمق أكثر */
    width: 70%;
    max-width: 500px; /* تحديد الحد الأقصى للعرض */
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.image-container {
    width: 100%;
    height: 30%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 12s infinite linear;
    transition: transform 0.5s ease-in-out;
}

/* إعدادات الصور */
.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
}

/* توزيع الصور بشكل ثلاثي الأبعاد */
.image-container img:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.image-container img:nth-child(2) {
    transform: rotateY(90deg) translateZ(300px);
}

.image-container img:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);
}

.image-container img:nth-child(4) {
    transform: rotateY(270deg) translateZ(300px);
}

/* حركة الدوران */
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* استجابة التصميم لمختلف الشاشات */
@media (max-width: 768px) {
    .image-container {
        height: 50%;
      
    }

    .carousel{
        width: 70%;
    }
}


@media (max-width: 480px) {
    .image-container {
        height: 200px;

    }
    .carousel{
        width: 60%;
    }
}
